.cart {
    background-color: rgba(65, 64, 64, 0.963);
    color: whitesmoke;
    width: 100%;
    
    min-height: 100vh;
    max-height: auto;

    overflow: hidden;

    
}

.cartListPay {
    width: 100%;
    border-radius: 10px;
  
    display: flex;
    flex-direction: row;

    

}

/* -------------------------------------- */
.cartItemsList {
    background-color: rgb(31, 30, 30);
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
    width: 60%;
    
    min-height: 100vh;
    max-height: auto;

    margin-left: 70px;
    margin-bottom: 50px;
    
}



.samp{

    list-style-type: none;

}

.list li{

    display: flex;
    flex-direction: row;
 
    margin: 15px;
}

.productsDescr{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.image{
    border-radius: 20px;

    margin: 10px;
    padding: 10px;

    width:20%;
    height: 25vh;
        /*shadow around image: 0 Horizontal, 4px vertical, 8px blur, 0 spread, color : Here there are multiple shadows*/
        box-shadow:  0 4px 8px 10px rgba(158, 158, 158, 0.2);
}

.samp p{
    height: 35px;
    margin: 0;
    padding: 0;
}

 .buttons{   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;


    width: 100%;
}


.AddToCartQuantity{

    width: 15%;
    height: 20px;

    color: white;
    font-size: 15px;
  
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
} 

.cart button{
    width: 7%;
    height: 20px;

    color: white;
    font-size: 15px;
  
    border: 2px solid white;
    border-radius: 20px;
    background-color: transparent;
}

.cart button:hover{
    border: 2px solid black;
    background: linear-gradient(80deg,#9a6f4c,#c6beb1);
    background-color: whitesmoke;
    color: black;
} 


/* -----------------------------  */

.cartItemsPay{
    background-color: rgb(197, 191, 191);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right: 10px;
    color: black;

    width: 30%;
    height: auto;

    margin-right: 70px;
    margin-bottom: 50px;

}

.CheckoutItems{

display:flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;

}

.cartItemsPay .total{

    border-top: 2px dashed black;
  
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 60px;
    
}

