.home{
    width: 100%;
    height: 100vh;

   background-color: #d0c8bb;
   color: black;

}

.homeTitle{

    
   margin-top: 0px;


}
.description{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: center;


}

.paragraph{
    width: 40%;
    height: 70vh;
    margin-left: 40px;

    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainImg{
    border: 4px solid black;
    border-radius: 10px;
    height: 80vh;
    width: 400px;
}