.App {
  text-align: center;
}

.s{
  background-color: rgb(28, 27, 27);
  height: 60vh;
  width: 100%;
  top: 0;

}

.s h1{
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* 
@media (prefers-reduced-motion: no-preference) {
  .star {
    animation: App-star-animate infinite 15s linear;
  }
}



@keyframes App-star-animate {
  0% {
    transform:translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);;
  }
}
 */